<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="RetailTradeServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RetailTradeServer.Properties.Settings>
            <setting name="AdminCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLabelPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultReportPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </RetailTradeServer.Properties.Settings>
    </userSettings>
</configuration>